In [2]:
import numpy as np
import pandas as pd
import os
import json

In [3]:
os.listdir("../data")

['female_literacy.csv',
 'female_unemployed_raw.csv',
 'female_vulnerable_raw.csv',
 'female_wage_salaried_raw.csv',
 'gdp_raw.csv',
 'literacy_rate_final.tsv',
 'literacy_rate_raw.csv',
 'ne_50m_admin_0_countries.topo.json',
 'radar_data.json',
 'world_population.csv',
 'world_topology_final.json',
 'world_topology_raw.json']

## Reading in all three files

In [15]:
unem_data = pd.read_csv("../data/female_unemployed_raw.csv", skiprows=4)
vuln_data = pd.read_csv("../data/female_vulnerable_raw.csv", skiprows=4)
salr_data = pd.read_csv("../data/female_wage_salaried_raw.csv", skiprows=4)

In [16]:
unem_data.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', 'Unnamed: 64'],
      dtype='object')

In [17]:
dropColumns = ['Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', 
               '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', 
               '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', 
               '1995', '1996', '1997', '1998', '1999', 'Unnamed: 64']

In [18]:
unem_data.drop(columns=dropColumns, inplace=True)
vuln_data.drop(columns=dropColumns, inplace=True)
salr_data.drop(columns=dropColumns, inplace=True)

In [19]:
unem_data.head()

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,97.29125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.82264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.80742,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,31.74112,NaN,NaN,NaN,NaN,NaN,NaN,43.01972,NaN
2,Angola,NaN,67.40542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,66.03011,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,98.71298,NaN,NaN,NaN,NaN,NaN,NaN,95.93864,...,NaN,96.84530,97.24697,NaN,NaN,NaN,NaN,NaN,98.14115,NaN
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
vuln_data.head()

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,96.559000,96.429001,96.845999,96.750998,96.682997,96.667002,96.626999,96.634996,96.556997,...,96.480999,96.390997,96.280998,96.151999,96.027998,95.906002,95.786997,95.664999,95.573997,95.481998
2,Angola,75.977999,76.030000,75.999001,75.925001,75.605002,76.020000,76.779003,77.263000,77.924003,...,80.172002,81.010003,80.883999,80.785003,80.802999,80.813997,80.694002,80.660001,80.593004,80.507997
3,Albania,63.762001,62.917999,61.985998,60.993998,60.014000,59.041002,58.073999,57.132000,66.658001,...,62.600000,64.118002,67.010000,61.814999,58.696001,56.496000,55.885000,55.257000,54.663000,54.066999
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
salr_data.head()

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,3.320000,3.444000,3.038000,3.139000,3.205000,3.220,3.260,3.252000,3.329000,...,3.405000,3.493000,3.599000,3.724000,3.844000,3.963000,4.077000,4.194000,4.282000,4.371
2,Angola,21.837000,21.766001,21.767000,21.823000,22.117001,21.659,20.857,20.329000,19.638000,...,17.354000,16.502001,16.610001,16.686001,16.648001,16.620001,16.731001,16.754000,16.808001,16.879
3,Albania,35.474998,36.298000,37.210999,38.174999,39.125999,40.070,41.007,41.918999,32.766998,...,36.946999,34.728001,32.007000,37.118000,40.764999,42.541000,43.131001,43.740002,44.320999,44.902
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# number of rows/countries in each file 
print ("Unemployed: " + str(unem_data.shape))
print ("Vulnerable: " + str(vuln_data.shape))
print ("Salaried: " + str(salr_data.shape))

Unemployed: (264, 21)
Vulnerable: (264, 21)
Salaried: (264, 21)

In [23]:
# number of rows which don't have nulls
print ("Unemployed: " + str(unem_data.dropna().shape))
print ("Vulnerable: " + str(vuln_data.dropna().shape))
print ("Salaried: " + str(salr_data.dropna().shape))

Unemployed: (0, 21)
Vulnerable: (233, 21)
Salaried: (233, 21)

In [12]:
# since very few rows have NA values - dropping those
unem_data.dropna(inplace=True)
vuln_data.dropna(inplace=True)
salr_data.dropna(inplace=True)

In [13]:
# get countries
countr1 = unem_data["Country Name"]
countr2 = vuln_data["Country Name"]
countr3 = salr_data["Country Name"]

In [14]:
resultCountr = pd.Series(list(set(countr1) & set(countr2) & set(countr3)))

In [15]:
len(resultCountr)

233

In [16]:
list(resultCountr)

['Colombia',
 'Fragile and conflict affected situations',
 'Gabon',
 'Belize',
 'Finland',
 'Haiti',
 'Nicaragua',
 'El Salvador',
 'Tonga',
 'Sri Lanka',
 'Latvia',
 'Upper middle income',
 'Congo, Rep.',
 'Bolivia',
 'Niger',
 'United Kingdom',
 'South Asia',
 'Estonia',
 'Nigeria',
 'United States',
 'Philippines',
 'Japan',
 'Greece',
 'Austria',
 'Syrian Arab Republic',
 'Lesotho',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Botswana',
 'Comoros',
 'Albania',
 'Europe & Central Asia',
 'Guam',
 'IDA blend',
 'St. Vincent and the Grenadines',
 'Caribbean small states',
 'Ethiopia',
 'Sao Tome and Principe',
 'Burkina Faso',
 'Singapore',
 'East Asia & Pacific',
 'Portugal',
 'Rwanda',
 'Cabo Verde',
 'Chad',
 'Thailand',
 'Venezuela, RB',
 'Poland',
 'Slovak Republic',
 'Tajikistan',
 'Fiji',
 'Vanuatu',
 'Arab World',
 'Russian Federation',
 'Senegal',
 'New Caledonia',
 'Madagascar',
 'Bahrain',
 'Morocco',
 'Dominican Republic',
 'Luxembourg',
 'South Sudan',
 'Cuba',
 'Honduras',
 'Belgium',
 'Hungary',
 'High income',
 'India',
 'Jordan',
 'Mauritius',
 'Georgia',
 'Turkey',
 'Equatorial Guinea',
 'Guinea',
 'Paraguay',
 'South Asia (IDA & IBRD)',
 'Armenia',
 'Korea, Dem. Peopleâ€™s Rep.',
 'Tanzania',
 'Brunei Darussalam',
 'Guatemala',
 'Mozambique',
 'Guinea-Bissau',
 'Europe & Central Asia (IDA & IBRD countries)',
 'French Polynesia',
 'Lower middle income',
 'Late-demographic dividend',
 'Zimbabwe',
 'Myanmar',
 'Guyana',
 'Sudan',
 'Malaysia',
 'Ireland',
 'Trinidad and Tobago',
 'Malta',
 'Togo',
 'St. Lucia',
 'Benin',
 'Solomon Islands',
 'Tunisia',
 'Canada',
 'Bangladesh',
 'Argentina',
 'New Zealand',
 'Panama',
 'Kazakhstan',
 'Iran, Islamic Rep.',
 'European Union',
 'Libya',
 'Puerto Rico',
 'Algeria',
 'Germany',
 'IDA total',
 'Mauritania',
 'France',
 'Belarus',
 'Switzerland',
 'North Macedonia',
 'Oman',
 'Djibouti',
 'Barbados',
 'Czech Republic',
 'Pakistan',
 'Namibia',
 'Eswatini',
 'Burundi',
 'Middle income',
 'Lao PDR',
 'Lebanon',
 'Latin America & Caribbean (excluding high income)',
 'Post-demographic dividend',
 'Chile',
 'Netherlands',
 'Sierra Leone',
 'Samoa',
 'Pre-demographic dividend',
 'Channel Islands',
 'Azerbaijan',
 'Middle East & North Africa (excluding high income)',
 'East Asia & Pacific (excluding high income)',
 'Congo, Dem. Rep.',
 'Malawi',
 'Qatar',
 'Somalia',
 'Lithuania',
 'Brazil',
 'Central African Republic',
 'Cameroon',
 'Moldova',
 'Serbia',
 'Croatia',
 'Bhutan',
 'Denmark',
 'Macao SAR, China',
 'Virgin Islands (U.S.)',
 'United Arab Emirates',
 'Bahamas, The',
 'IDA only',
 'Iraq',
 'Low income',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Kuwait',
 'Timor-Leste',
 'Norway',
 'Zambia',
 'Yemen, Rep.',
 'Other small states',
 'Central Europe and the Baltics',
 'Liberia',
 'Korea, Rep.',
 'Latin America & Caribbean',
 'IDA & IBRD total',
 'Kyrgyz Republic',
 'Mexico',
 'World',
 'Heavily indebted poor countries (HIPC)',
 'Sub-Saharan Africa (excluding high income)',
 'Europe & Central Asia (excluding high income)',
 'Gambia, The',
 'Eritrea',
 'Indonesia',
 'China',
 'IBRD only',
 'Vietnam',
 'Romania',
 'Hong Kong SAR, China',
 'Angola',
 'Costa Rica',
 'Ecuador',
 'Peru',
 'West Bank and Gaza',
 'Pacific island small states',
 'Ukraine',
 'Iceland',
 'OECD members',
 'Egypt, Arab Rep.',
 'Bulgaria',
 'Mongolia',
 'Nepal',
 'Low & middle income',
 'Early-demographic dividend',
 'Euro area',
 'Bosnia and Herzegovina',
 'Italy',
 'Papua New Guinea',
 'Suriname',
 'Australia',
 'Israel',
 'North America',
 'Maldives',
 'Turkmenistan',
 "Cote d'Ivoire",
 'Small states',
 'Jamaica',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Least developed countries: UN classification',
 'Uzbekistan',
 'Cyprus',
 'Mali',
 'Uganda',
 'Spain',
 'Middle East & North Africa',
 'Uruguay',
 'Ghana',
 'Montenegro',
 'Sweden',
 'Sub-Saharan Africa',
 'East Asia & Pacific (IDA & IBRD countries)',
 'South Africa',
 'Afghanistan',
 'Saudi Arabia',
 'Kenya',
 'Cambodia',
 'Slovenia']

In [17]:
# choosing 10 countries
selectedCountr = ['Low income', 'Middle income', 'High income', 'South Asia', 'Middle East & North Africa',
                  'World', 'Europe & Central Asia', 'East Asia & Pacific', 'North America', 'Latin America & Caribbean']

In [18]:
processed_data1 = unem_data.drop(unem_data[~unem_data["Country Name"].isin(selectedCountr)].index)
processed_data2 = vuln_data.drop(vuln_data[~vuln_data["Country Name"].isin(selectedCountr)].index)
processed_data3 = salr_data.drop(salr_data[~salr_data["Country Name"].isin(selectedCountr)].index)

In [19]:
processed_data1

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
61,East Asia & Pacific,3.269190,3.672794,3.886319,4.153994,4.107232,4.134743,3.972736,3.944845,3.996838,...,3.817425,3.697891,3.666891,3.619286,3.583923,3.630659,3.515590,3.453731,3.459586,3.462176
63,Europe & Central Asia,10.632537,9.645147,9.513593,9.444101,9.423752,9.065598,8.399875,7.405520,7.228181,...,8.760196,8.669216,8.872330,9.124529,8.861050,8.523802,8.090546,7.520850,7.056631,6.964476
93,High income,7.165997,6.948829,7.356261,7.423312,7.353618,7.101407,6.547441,5.971173,6.098391,...,8.094035,8.034409,8.187956,8.048649,7.531634,6.891960,6.440273,5.897761,5.421801,5.318936
132,Latin America & Caribbean,11.490480,10.778782,11.087487,11.263686,10.829707,10.097358,9.308968,8.844892,8.311729,...,8.738143,8.132551,7.811476,7.670450,7.313109,7.955544,9.216814,9.575295,9.567847,9.656801
134,Low income,4.103864,4.155609,4.296812,4.322433,4.231071,4.147378,4.034910,3.856854,3.774906,...,4.334174,4.237036,4.088031,3.998331,3.795652,3.847055,3.816695,3.636781,3.620839,3.613487
151,Middle East & North Africa,17.157076,17.330456,18.265463,17.634210,16.947338,17.275670,16.176655,15.074851,15.084563,...,17.000449,17.399558,17.823509,17.503176,17.435374,17.657011,17.840092,17.677209,17.685243,17.751012
154,Middle income,5.649387,5.770893,6.030694,6.222771,6.135951,6.098589,5.753083,5.470603,5.315429,...,5.450877,5.329489,5.295652,5.332926,5.269926,5.553541,5.714250,5.674605,5.678461,5.731414
168,North America,4.358471,4.874754,5.766133,5.818274,5.551271,5.241123,4.782369,4.623318,5.442823,...,8.460999,8.298045,7.771281,7.017750,6.095846,5.300445,4.949769,4.480141,3.987515,4.005978
202,South Asia,2.528320,2.775624,3.166258,3.582658,3.881411,4.189183,3.741489,3.390755,3.141565,...,3.192027,3.394735,3.728178,4.137092,3.984962,4.420610,4.312731,4.039360,3.975504,3.962916
257,World,5.846503,5.889813,6.168218,6.318885,6.231964,6.145080,5.774669,5.439348,5.346779,...,5.895895,5.786007,5.778741,5.764505,5.592991,5.663254,5.678745,5.520583,5.421993,5.433434

In [20]:
# number of rows/countries in each file 
print ("Unemployed: " + str(processed_data1.shape))
print ("Vulnerable: " + str(processed_data2.shape))
print ("Salaried: " + str(processed_data3.shape))

Unemployed: (10, 21)
Vulnerable: (10, 21)
Salaried: (10, 21)

In [21]:
processed_data1["Country Name"]

61            East Asia & Pacific
63          Europe & Central Asia
93                    High income
132     Latin America & Caribbean
134                    Low income
151    Middle East & North Africa
154                 Middle income
168                 North America
202                    South Asia
257                         World
Name: Country Name, dtype: object

In [22]:
sampleJSON1 = {'name': 'Unemployment',
                    'axes': [
                        {'axis': 'East Asia & Pacific', 'value': 0},
                        {'axis': 'Europe & Central Asia', 'value': 0},
                        {'axis': 'High income', 'value': 0},
                        {'axis': 'Latin America & Caribbean', 'value': 0},
                        {'axis': 'Low income', 'value': 0},
                        {'axis': 'Middle East & North Africa', 'value': 0},
                        {'axis': 'Middle income', 'value': 0},
                        {'axis': 'North America', 'value': 0},
                        {'axis': 'South Asia', 'value': 0},
                        {'axis': 'World', 'value': 0}
                    ]}

In [23]:
finalList1 = []

# looping over 
for country in selectedCountr:
    listValue = [
        float(processed_data1['2000'].loc[processed_data1["Country Name"] == country]),
        float(processed_data1['2001'].loc[processed_data1["Country Name"] == country]),
        float(processed_data1['2002'].loc[processed_data1["Country Name"] == country]),
        float(processed_data1['2003'].loc[processed_data1["Country Name"] == country]),
        float(processed_data1['2004'].loc[processed_data1["Country Name"] == country]),
        float(processed_data1['2005'].loc[processed_data1["Country Name"] == country]),
        float(processed_data1['2006'].loc[processed_data1["Country Name"] == country]),
        float(processed_data1['2007'].loc[processed_data1["Country Name"] == country]),
        float(processed_data1['2008'].loc[processed_data1["Country Name"] == country]),
        float(processed_data1['2009'].loc[processed_data1["Country Name"] == country]),
        float(processed_data1['2010'].loc[processed_data1["Country Name"] == country]),
        float(processed_data1['2011'].loc[processed_data1["Country Name"] == country]),
        float(processed_data1['2012'].loc[processed_data1["Country Name"] == country]),
        float(processed_data1['2013'].loc[processed_data1["Country Name"] == country]),
        float(processed_data1['2014'].loc[processed_data1["Country Name"] == country]),
        float(processed_data1['2015'].loc[processed_data1["Country Name"] == country]),
        float(processed_data1['2016'].loc[processed_data1["Country Name"] == country]),
        float(processed_data1['2017'].loc[processed_data1["Country Name"] == country]),
        float(processed_data1['2018'].loc[processed_data1["Country Name"] == country]),
        float(processed_data1['2019'].loc[processed_data1["Country Name"] == country])
    ]
    
    # assign this list to axis
    for ax, i in zip(sampleJSON1["axes"], range(10)):
        if (ax['axis'] == country):
            ax['value'] = listValue

finalList1 = sampleJSON1.copy()
finalList1

{'name': 'Unemployment',
 'axes': [{'axis': 'East Asia & Pacific',
   'value': [3.26918983608253,
    3.6727935837740295,
    3.8863190929195803,
    4.1539938782788095,
    4.10723244090641,
    4.13474270049869,
    3.97273590072344,
    3.94484455151822,
    3.9968375080297296,
    4.011435789588201,
    3.8174253423335998,
    3.6978914192912002,
    3.6668912136609797,
    3.6192861883046503,
    3.58392314139164,
    3.63065918987378,
    3.51558959350546,
    3.45373123629273,
    3.4595861334537203,
    3.46217631727732]},
  {'axis': 'Europe & Central Asia',
   'value': [10.6325369648455,
    9.645146506432331,
    9.513593279816119,
    9.44410070258673,
    9.423751796663751,
    9.06559785239307,
    8.39987511743527,
    7.40551952768453,
    7.228181039845429,
    8.57239277060865,
    8.760195634797519,
    8.66921599393466,
    8.872329618044981,
    9.124528854886009,
    8.86105008475217,
    8.52380230494752,
    8.09054584944044,
    7.52085037447096,
    7.056631348742441,
    6.96447611467108]},
  {'axis': 'High income',
   'value': [7.16599714090054,
    6.94882919022719,
    7.35626071863153,
    7.423312437931941,
    7.353617673194621,
    7.10140748969262,
    6.54744063033411,
    5.9711734622752095,
    6.098390512211571,
    7.7268769108681905,
    8.094034773334,
    8.03440937966622,
    8.187955502015,
    8.048648795114799,
    7.53163400427623,
    6.89196017939255,
    6.44027323244269,
    5.89776068004866,
    5.42180059967578,
    5.31893646971224]},
  {'axis': 'Latin America & Caribbean',
   'value': [11.4904799002251,
    10.7787821989413,
    11.087486967044198,
    11.263686137779,
    10.8297067399227,
    10.0973579078912,
    9.30896785800503,
    8.8448915359824,
    8.31172928140019,
    9.42461535700783,
    8.738142867545768,
    8.1325509299502,
    7.811475840897269,
    7.670449825934821,
    7.3131092457096605,
    7.955544226192981,
    9.21681367507789,
    9.57529465283149,
    9.56784739600827,
    9.65680060360895]},
  {'axis': 'Low income',
   'value': [4.10386375754032,
    4.15560920311903,
    4.296811975977779,
    4.32243329149557,
    4.23107092975793,
    4.14737789344984,
    4.03490973367747,
    3.8568543697060402,
    3.77490571245897,
    4.16023204517519,
    4.334174198983741,
    4.23703619261186,
    4.08803078917067,
    3.99833068069817,
    3.7956516715478,
    3.8470549316517,
    3.8166945476718803,
    3.6367812834622697,
    3.62083937405973,
    3.61348674245114]},
  {'axis': 'Middle East & North Africa',
   'value': [17.1570756663095,
    17.330456050117398,
    18.2654633130279,
    17.6342096177193,
    16.9473377752304,
    17.2756699219865,
    16.1766550756233,
    15.074851430266198,
    15.084562807262099,
    16.3418892610988,
    17.0004494974766,
    17.399557816942803,
    17.8235092429608,
    17.5031758298916,
    17.4353736699046,
    17.6570109816767,
    17.840091572787603,
    17.6772090558874,
    17.6852427554763,
    17.751012050862897]},
  {'axis': 'Middle income',
   'value': [5.64938749928757,
    5.770893107273119,
    6.030694261423809,
    6.222771326496071,
    6.135951183841441,
    6.09858872830442,
    5.753083140999499,
    5.4706031153485295,
    5.31542939542624,
    5.658301746632509,
    5.45087660532357,
    5.32948922846325,
    5.29565233554764,
    5.3329260881020195,
    5.26992564717875,
    5.55354074156104,
    5.71424983309008,
    5.674604715359241,
    5.678460595518451,
    5.731414043697571]},
  {'axis': 'North America',
   'value': [4.35847116781518,
    4.87475355011484,
    5.76613268152439,
    5.818274150283281,
    5.5512712750426605,
    5.24112287597696,
    4.78236905259053,
    4.62331759529607,
    5.44282334610209,
    7.94436783943093,
    8.46099949729566,
    8.29804545503748,
    7.77128118339617,
    7.017750058856209,
    6.0958458599099,
    5.3004448874782195,
    4.949769268209231,
    4.48014101413721,
    3.98751451383259,
    4.00597752423182]},
  {'axis': 'South Asia',
   'value': [2.52831952477416,
    2.77562388989449,
    3.16625757667408,
    3.5826576380502098,
    3.88141051406887,
    4.18918336771465,
    3.74148924295986,
    3.3907554426844597,
    3.1415653632422695,
    3.4216597688127597,
    3.19202699623151,
    3.39473458938824,
    3.7281778717288305,
    4.13709232691875,
    3.9849624893897997,
    4.42060962212704,
    4.312731005615061,
    4.03936033171242,
    3.97550412034801,
    3.9629161696450197]},
  {'axis': 'World',
   'value': [5.84650327587374,
    5.88981272534793,
    6.16821752095504,
    6.31888455847196,
    6.231964075953161,
    6.14507956400696,
    5.7746690671601995,
    5.43934784123951,
    5.34677947298737,
    5.95496566412803,
    5.895894772351969,
    5.786006986276809,
    5.77874115901487,
    5.7645053258594405,
    5.59299088225137,
    5.663254346768579,
    5.678745080588911,
    5.520583375701059,
    5.42199269049939,
    5.43343431946568]}]}

In [24]:
sampleJSON2= {'name': 'Vulnerable Employment',
                    'axes': [
                        {'axis': 'East Asia & Pacific', 'value': 0},
                        {'axis': 'Europe & Central Asia', 'value': 0},
                        {'axis': 'High income', 'value': 0},
                        {'axis': 'Latin America & Caribbean', 'value': 0},
                        {'axis': 'Low income', 'value': 0},
                        {'axis': 'Middle East & North Africa', 'value': 0},
                        {'axis': 'Middle income', 'value': 0},
                        {'axis': 'North America', 'value': 0},
                        {'axis': 'South Asia', 'value': 0},
                        {'axis': 'World', 'value': 0}
                    ]}

In [25]:
finalList2 = []

# looping over 
for country in selectedCountr:
    listValue = [
        float(processed_data2['2000'].loc[processed_data2["Country Name"] == country]),
        float(processed_data2['2001'].loc[processed_data2["Country Name"] == country]),
        float(processed_data2['2002'].loc[processed_data2["Country Name"] == country]),
        float(processed_data2['2003'].loc[processed_data2["Country Name"] == country]),
        float(processed_data2['2004'].loc[processed_data2["Country Name"] == country]),
        float(processed_data2['2005'].loc[processed_data2["Country Name"] == country]),
        float(processed_data2['2006'].loc[processed_data2["Country Name"] == country]),
        float(processed_data2['2007'].loc[processed_data2["Country Name"] == country]),
        float(processed_data2['2008'].loc[processed_data2["Country Name"] == country]),
        float(processed_data2['2009'].loc[processed_data2["Country Name"] == country]),
        float(processed_data2['2010'].loc[processed_data2["Country Name"] == country]),
        float(processed_data2['2011'].loc[processed_data2["Country Name"] == country]),
        float(processed_data2['2012'].loc[processed_data2["Country Name"] == country]),
        float(processed_data2['2013'].loc[processed_data2["Country Name"] == country]),
        float(processed_data2['2014'].loc[processed_data2["Country Name"] == country]),
        float(processed_data2['2015'].loc[processed_data2["Country Name"] == country]),
        float(processed_data2['2016'].loc[processed_data2["Country Name"] == country]),
        float(processed_data2['2017'].loc[processed_data2["Country Name"] == country]),
        float(processed_data2['2018'].loc[processed_data2["Country Name"] == country]),
        float(processed_data2['2019'].loc[processed_data2["Country Name"] == country])
    ]
    
    # assign this list to axis
    for ax in sampleJSON2["axes"]:
        if (ax['axis'] == country):
            ax['value'] = listValue

finalList2 = sampleJSON2.copy()
finalList2

{'name': 'Vulnerable Employment',
 'axes': [{'axis': 'East Asia & Pacific',
   'value': [60.6879668294335,
    59.674370674569595,
    58.9213060719676,
    58.0533663310168,
    56.87897164340939,
    55.6709588396772,
    54.63819427512939,
    53.883025762124994,
    53.046838590356295,
    52.2115667501807,
    51.3518859977942,
    50.5351435107476,
    49.7135142324014,
    48.862470585264,
    48.1489038127845,
    47.1560957489851,
    46.412135936766006,
    45.821983340200504,
    45.2049091599711,
    44.622292311346996]},
  {'axis': 'Europe & Central Asia',
   'value': [16.673886540539,
    16.4602072171027,
    15.733832855500697,
    15.433813836459699,
    14.9257194684902,
    14.7219398064189,
    14.2182762243841,
    13.878684050715401,
    13.676220782465698,
    13.798628223248501,
    13.9343853565454,
    13.969937142561099,
    13.832717879463802,
    13.8241943075627,
    13.2913819678952,
    13.0631516397856,
    12.862815405380399,
    12.641623452929801,
    12.601558973452699,
    12.5532061617394]},
  {'axis': 'High income',
   'value': [10.512222474365501,
    10.387908409340199,
    10.1776334637168,
    9.97391951863793,
    9.83937536877637,
    9.67564664103747,
    9.42722209575167,
    9.20018229104867,
    8.931850126993858,
    8.83127813486442,
    8.7145753660204,
    8.58735508025134,
    8.492570314695621,
    8.36521821283418,
    8.321956840410909,
    8.15447461400685,
    8.03868047742559,
    7.974755316382099,
    7.92347925262972,
    7.88112985118093]},
  {'axis': 'Latin America & Caribbean',
   'value': [36.51961619965,
    37.1598495427397,
    37.132822764127795,
    37.5001233281009,
    36.9505284350327,
    36.3897178278357,
    35.6424527294982,
    35.0541099503467,
    34.4432302005985,
    34.6737084487227,
    34.1692991168565,
    33.6633912748504,
    32.6308759925042,
    32.2768599692245,
    31.9106517017873,
    32.2688124875299,
    32.6500603758218,
    32.9671234462234,
    32.9382559844912,
    32.890722906335604]},
  {'axis': 'Low income',
   'value': [90.2538448568026,
    90.3064979916914,
    90.28614965136529,
    90.2292851285813,
    90.25959161679769,
    90.2732551988625,
    90.11251693090941,
    89.96994251786171,
    89.7178580737023,
    89.5308708628973,
    89.2996486467372,
    88.9314112417218,
    88.5967964456443,
    88.3924499971404,
    88.2034193286795,
    88.12074672343891,
    88.0139182417681,
    87.90158810793699,
    87.7901895030703,
    87.67106656490309]},
  {'axis': 'Middle East & North Africa',
   'value': [37.5019450194396,
    35.2177214087624,
    34.4262021809592,
    37.479573237500205,
    39.367986917143,
    38.9423436784512,
    38.1509876695777,
    39.1428231015789,
    36.2467757361068,
    36.1482890805735,
    34.6264909263876,
    33.1660426312486,
    31.5190773916392,
    31.9752585972202,
    31.5941381971081,
    31.1760968102744,
    28.106044088461104,
    28.4641957883881,
    28.2025135281807,
    27.930513042979698]},
  {'axis': 'Middle income',
   'value': [62.1785146987955,
    61.5556276980766,
    60.8886877813796,
    60.4732440995351,
    59.6827680774631,
    58.8682688104826,
    57.943238329215205,
    57.2526587983243,
    56.5267711593625,
    55.98579738937429,
    55.335522865103705,
    54.32912020279839,
    53.1391049952672,
    52.6335514903266,
    52.0489669695358,
    51.5285386049705,
    51.088945181570004,
    50.8001481215676,
    50.41751486456371,
    50.06507549367479]},
  {'axis': 'North America',
   'value': [4.53498716974909,
    4.42108636994816,
    4.3646698355938,
    4.42479621437712,
    4.379523627422279,
    4.304798641663431,
    4.30298014661176,
    4.2734110253159905,
    4.112949633124351,
    4.21546050713018,
    4.16646695906892,
    4.1014073264555195,
    4.16588948594146,
    4.18219319051663,
    4.04976684237882,
    4.01234003834697,
    3.94127969931413,
    4.0181772550386,
    3.99109383780244,
    3.96236560711828]},
  {'axis': 'South Asia',
   'value': [87.7743828245253,
    87.448019201848,
    87.0060642873851,
    86.60124216990489,
    86.55547850563292,
    86.20725074498921,
    86.1070849388241,
    85.9622815194079,
    85.99852963514921,
    85.75957073064879,
    85.65832461259491,
    83.9756075489011,
    82.04853066077129,
    81.4825403747198,
    80.75135812490029,
    80.3300641896511,
    79.82627211080741,
    78.9986618172214,
    78.51707524106409,
    78.0462042535426]},
  {'axis': 'World',
   'value': [53.7926585041198,
    53.3725768505859,
    52.9351633757036,
    52.65378717059011,
    52.1517956714734,
    51.5617581944695,
    50.8109062823633,
    50.2573334843854,
    49.670305088288096,
    49.4084333621721,
    48.9964438931629,
    48.305742726208294,
    47.478993788009205,
    47.15079404065929,
    46.7557343121011,
    46.3936392196839,
    46.0901262518224,
    45.926073440363595,
    45.7280169598683,
    45.586689549190204]}]}

In [26]:
sampleJSON3 = {'name': 'Salaried Employment',
                    'axes': [
                        {'axis': 'East Asia & Pacific', 'value': 0},
                        {'axis': 'Europe & Central Asia', 'value': 0},
                        {'axis': 'High income', 'value': 0},
                        {'axis': 'Latin America & Caribbean', 'value': 0},
                        {'axis': 'Low income', 'value': 0},
                        {'axis': 'Middle East & North Africa', 'value': 0},
                        {'axis': 'Middle income', 'value': 0},
                        {'axis': 'North America', 'value': 0},
                        {'axis': 'South Asia', 'value': 0},
                        {'axis': 'World', 'value': 0}
                    ]}

In [27]:
finalList3 = []

# looping over 
for country in selectedCountr:
    listValue = [
        float(processed_data3['2000'].loc[processed_data3["Country Name"] == country]),
        float(processed_data3['2001'].loc[processed_data3["Country Name"] == country]),
        float(processed_data3['2002'].loc[processed_data3["Country Name"] == country]),
        float(processed_data3['2003'].loc[processed_data3["Country Name"] == country]),
        float(processed_data3['2004'].loc[processed_data3["Country Name"] == country]),
        float(processed_data3['2005'].loc[processed_data3["Country Name"] == country]),
        float(processed_data3['2006'].loc[processed_data3["Country Name"] == country]),
        float(processed_data3['2007'].loc[processed_data3["Country Name"] == country]),
        float(processed_data3['2008'].loc[processed_data3["Country Name"] == country]),
        float(processed_data3['2009'].loc[processed_data3["Country Name"] == country]),
        float(processed_data3['2010'].loc[processed_data3["Country Name"] == country]),
        float(processed_data3['2011'].loc[processed_data3["Country Name"] == country]),
        float(processed_data3['2012'].loc[processed_data3["Country Name"] == country]),
        float(processed_data3['2013'].loc[processed_data3["Country Name"] == country]),
        float(processed_data3['2014'].loc[processed_data3["Country Name"] == country]),
        float(processed_data3['2015'].loc[processed_data3["Country Name"] == country]),
        float(processed_data3['2016'].loc[processed_data3["Country Name"] == country]),
        float(processed_data3['2017'].loc[processed_data3["Country Name"] == country]),
        float(processed_data3['2018'].loc[processed_data3["Country Name"] == country]),
        float(processed_data3['2019'].loc[processed_data3["Country Name"] == country])
    ]
    
    # assign this list to axis
    for ax in sampleJSON3["axes"]:
        if (ax['axis'] == country):
            ax['value'] = listValue

finalList3 = sampleJSON3.copy()
finalList3

{'name': 'Salaried Employment',
 'axes': [{'axis': 'East Asia & Pacific',
   'value': [38.1131043596764,
    39.1155581981521,
    39.845697650781396,
    40.6919913543048,
    41.8307710492779,
    42.994546378593505,
    43.9913163470803,
    44.68414326446529,
    45.48014895732761,
    46.236813216939105,
    47.11141691739739,
    47.91445306639339,
    48.708503347827396,
    49.54479475363829,
    50.2529170881186,
    51.191542232185704,
    51.9253999304912,
    52.5293718539785,
    53.117835351954696,
    53.6725083082757]},
  {'axis': 'Europe & Central Asia',
   'value': [81.53031165642109,
    81.702920320087,
    82.4121560825718,
    82.7498488273002,
    83.16086633886371,
    83.3940232313196,
    83.86911010889271,
    84.15747475121779,
    84.34966006412691,
    84.2781304976184,
    84.1436378382625,
    84.1032398416255,
    84.274869678463,
    84.27235167464009,
    84.8356670501535,
    85.04964571379371,
    85.19231802402209,
    85.4401912740925,
    85.4695758690625,
    85.50815463315891]},
  {'axis': 'High income',
   'value': [87.21627433408909,
    87.4106398453124,
    87.6500839508483,
    87.84997363980101,
    87.93758223735941,
    88.1596311308877,
    88.39041647093741,
    88.6466907371578,
    88.945575536007,
    89.0543213794761,
    89.1723443319323,
    89.32092173656679,
    89.4267699280111,
    89.54484710768101,
    89.65028726001239,
    89.8202622540468,
    89.93621693648359,
    90.0107540748555,
    90.06266447582291,
    90.10670908862059]},
  {'axis': 'Latin America & Caribbean',
   'value': [61.2223506555325,
    60.555798267411205,
    60.4677998366068,
    60.1871165780825,
    60.6407941594666,
    61.0870318928488,
    61.7818738550185,
    62.4786458736555,
    62.9212401720075,
    62.797021011978906,
    63.3305525849253,
    63.9666113004187,
    64.83632692188739,
    65.18597451321921,
    65.606624551259,
    65.2386471500147,
    64.8214632385602,
    64.436148748083,
    64.446466496231,
    64.4743211089289]},
  {'axis': 'Low income',
   'value': [9.16530497654966,
    9.108475248400909,
    9.12385989046775,
    9.17293628326417,
    9.14186569338261,
    9.128388454649961,
    9.28124848481999,
    9.418918589490199,
    9.658799720349231,
    9.842190943614199,
    10.0501822830439,
    10.3733823161612,
    10.6384314823576,
    10.8117698185927,
    10.966721324224201,
    11.040849516841499,
    11.140216402300197,
    11.2434157964361,
    11.346653072369099,
    11.4574106351581]},
  {'axis': 'Middle East & North Africa',
   'value': [60.610492265888006,
    62.4319522405659,
    63.4514255724623,
    60.6803976052705,
    58.7523248036699,
    59.3213352360524,
    60.3019269651721,
    59.12207955479779,
    61.8580928212799,
    62.0587631903938,
    63.7144436131306,
    65.183697917001,
    66.8622811530625,
    66.50227552874061,
    66.8610928094928,
    67.34140794859991,
    70.3360279778814,
    69.9831667353674,
    70.2255847496556,
    70.47728388575241]},
  {'axis': 'Middle income',
   'value': [36.6130941712572,
    37.1852045896555,
    37.8170725320739,
    38.2364971558529,
    38.979913151552296,
    39.7423188937278,
    40.6303772549712,
    41.273135962740504,
    41.9611005442249,
    42.468532727552294,
    43.1284718018723,
    44.129091395901,
    45.2790730577893,
    45.7732579294804,
    46.3530935292097,
    46.8376366820819,
    47.2490423385781,
    47.5289501903382,
    47.88521253735951,
    48.211328300454205]},
  {'axis': 'North America',
   'value': [93.1376920119577,
    93.3075175792387,
    93.4125588058631,
    93.33813029020371,
    93.3809281538823,
    93.49657322024919,
    93.48489741452141,
    93.5781237674028,
    93.814802581244,
    93.67735825548951,
    93.75729729968201,
    93.8332711760387,
    93.7518726947008,
    93.7304514940885,
    93.93243922863779,
    94.00527098136749,
    94.1170734389942,
    93.99817025961809,
    94.04599825318809,
    94.0943499526535]},
  {'axis': 'South Asia',
   'value': [11.8853497995935,
    12.192338449644199,
    12.5940937704968,
    12.965845932644301,
    12.993303912185901,
    13.3056752444334,
    13.4166358539221,
    13.572925132700501,
    13.560723787144802,
    13.801441436971299,
    13.909253605115499,
    15.613445758048902,
    17.5672439953527,
    18.1296170319124,
    18.8483890816294,
    19.2433795077277,
    19.7221077342126,
    20.5087841783618,
    20.9789582337514,
    21.4396727098528]},
  {'axis': 'World',
   'value': [44.8302413511157,
    45.2288614376817,
    45.6483576712224,
    45.932488720771396,
    46.39295219486979,
    46.95803811553721,
    47.678099715515,
    48.2032961817669,
    48.769143556101895,
    49.0111863908252,
    49.4301451465321,
    50.118672815700705,
    50.914327459953,
    51.231177527656605,
    51.6331503630449,
    51.970789562940595,
    52.2550228162586,
    52.4154949285334,
    52.59624640800139,
    52.720926720849896]}]}

In [28]:
finalList1

{'name': 'Unemployment',
 'axes': [{'axis': 'East Asia & Pacific',
   'value': [3.26918983608253,
    3.6727935837740295,
    3.8863190929195803,
    4.1539938782788095,
    4.10723244090641,
    4.13474270049869,
    3.97273590072344,
    3.94484455151822,
    3.9968375080297296,
    4.011435789588201,
    3.8174253423335998,
    3.6978914192912002,
    3.6668912136609797,
    3.6192861883046503,
    3.58392314139164,
    3.63065918987378,
    3.51558959350546,
    3.45373123629273,
    3.4595861334537203,
    3.46217631727732]},
  {'axis': 'Europe & Central Asia',
   'value': [10.6325369648455,
    9.645146506432331,
    9.513593279816119,
    9.44410070258673,
    9.423751796663751,
    9.06559785239307,
    8.39987511743527,
    7.40551952768453,
    7.228181039845429,
    8.57239277060865,
    8.760195634797519,
    8.66921599393466,
    8.872329618044981,
    9.124528854886009,
    8.86105008475217,
    8.52380230494752,
    8.09054584944044,
    7.52085037447096,
    7.056631348742441,
    6.96447611467108]},
  {'axis': 'High income',
   'value': [7.16599714090054,
    6.94882919022719,
    7.35626071863153,
    7.423312437931941,
    7.353617673194621,
    7.10140748969262,
    6.54744063033411,
    5.9711734622752095,
    6.098390512211571,
    7.7268769108681905,
    8.094034773334,
    8.03440937966622,
    8.187955502015,
    8.048648795114799,
    7.53163400427623,
    6.89196017939255,
    6.44027323244269,
    5.89776068004866,
    5.42180059967578,
    5.31893646971224]},
  {'axis': 'Latin America & Caribbean',
   'value': [11.4904799002251,
    10.7787821989413,
    11.087486967044198,
    11.263686137779,
    10.8297067399227,
    10.0973579078912,
    9.30896785800503,
    8.8448915359824,
    8.31172928140019,
    9.42461535700783,
    8.738142867545768,
    8.1325509299502,
    7.811475840897269,
    7.670449825934821,
    7.3131092457096605,
    7.955544226192981,
    9.21681367507789,
    9.57529465283149,
    9.56784739600827,
    9.65680060360895]},
  {'axis': 'Low income',
   'value': [4.10386375754032,
    4.15560920311903,
    4.296811975977779,
    4.32243329149557,
    4.23107092975793,
    4.14737789344984,
    4.03490973367747,
    3.8568543697060402,
    3.77490571245897,
    4.16023204517519,
    4.334174198983741,
    4.23703619261186,
    4.08803078917067,
    3.99833068069817,
    3.7956516715478,
    3.8470549316517,
    3.8166945476718803,
    3.6367812834622697,
    3.62083937405973,
    3.61348674245114]},
  {'axis': 'Middle East & North Africa',
   'value': [17.1570756663095,
    17.330456050117398,
    18.2654633130279,
    17.6342096177193,
    16.9473377752304,
    17.2756699219865,
    16.1766550756233,
    15.074851430266198,
    15.084562807262099,
    16.3418892610988,
    17.0004494974766,
    17.399557816942803,
    17.8235092429608,
    17.5031758298916,
    17.4353736699046,
    17.6570109816767,
    17.840091572787603,
    17.6772090558874,
    17.6852427554763,
    17.751012050862897]},
  {'axis': 'Middle income',
   'value': [5.64938749928757,
    5.770893107273119,
    6.030694261423809,
    6.222771326496071,
    6.135951183841441,
    6.09858872830442,
    5.753083140999499,
    5.4706031153485295,
    5.31542939542624,
    5.658301746632509,
    5.45087660532357,
    5.32948922846325,
    5.29565233554764,
    5.3329260881020195,
    5.26992564717875,
    5.55354074156104,
    5.71424983309008,
    5.674604715359241,
    5.678460595518451,
    5.731414043697571]},
  {'axis': 'North America',
   'value': [4.35847116781518,
    4.87475355011484,
    5.76613268152439,
    5.818274150283281,
    5.5512712750426605,
    5.24112287597696,
    4.78236905259053,
    4.62331759529607,
    5.44282334610209,
    7.94436783943093,
    8.46099949729566,
    8.29804545503748,
    7.77128118339617,
    7.017750058856209,
    6.0958458599099,
    5.3004448874782195,
    4.949769268209231,
    4.48014101413721,
    3.98751451383259,
    4.00597752423182]},
  {'axis': 'South Asia',
   'value': [2.52831952477416,
    2.77562388989449,
    3.16625757667408,
    3.5826576380502098,
    3.88141051406887,
    4.18918336771465,
    3.74148924295986,
    3.3907554426844597,
    3.1415653632422695,
    3.4216597688127597,
    3.19202699623151,
    3.39473458938824,
    3.7281778717288305,
    4.13709232691875,
    3.9849624893897997,
    4.42060962212704,
    4.312731005615061,
    4.03936033171242,
    3.97550412034801,
    3.9629161696450197]},
  {'axis': 'World',
   'value': [5.84650327587374,
    5.88981272534793,
    6.16821752095504,
    6.31888455847196,
    6.231964075953161,
    6.14507956400696,
    5.7746690671601995,
    5.43934784123951,
    5.34677947298737,
    5.95496566412803,
    5.895894772351969,
    5.786006986276809,
    5.77874115901487,
    5.7645053258594405,
    5.59299088225137,
    5.663254346768579,
    5.678745080588911,
    5.520583375701059,
    5.42199269049939,
    5.43343431946568]}]}

In [29]:
finalList = [finalList2, finalList3]

In [30]:
# saving this new json
with open("../data/radar_data.json", 'w') as outfile:
    json.dump(finalList, outfile)